{% extends 'base2.html' %}

{% block pagecontent %}
	<section id="network" class="bg-very-light-gray">
		<h2 class="text-center">Admin Page</h2>
		<div class="container">
			<div class="text-center mb-3">
				<a href="/adminorders/"  style="text-decoration: none;">
					<button class="btn btn-dark-gray btn-medium btn-box-shadow btn-round-edge" type="submit">Check orders</button>
				</a>
				<a href="/adminlogout/"  style="text-decoration: none;">
					<button class="btn btn-dark-gray btn-medium btn-box-shadow btn-round-edge" type="submit">Logout</button>
				</a>
			</div>
			<div class="row justify-content-center mb-5 sm-mb-40px">
				<div class="col-12 align-items-center justify-content-center z-index-1 d-block d-md-flex text-center" data-anime='{ "el": "childs", "translateY": [15,0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
					<form action="/addpizza/" method="post" class="row contact-form-style-02">
						{% csrf_token %}
						<div class="col-md-12 mb-25px">
							<label class="form-label fs-14 text-uppercase text-dark-gray fw-600">Name</label>
							<input class="border-0 box-shadow-large border-radius-4px form-control required" type="text" name="pizza" placeholder="name" />
						</div>
						
						<div class="col-md-12 mb-25px">
							<label class="form-label fs-14 text-uppercase text-dark-gray fw-600">Pizza</label>
							<input class="border-0 box-shadow-large border-radius-4px form-control" type="text" name="price" placeholder="price" />
						</div>
						<div class="col-xxl-6 col-lg-7 col-md-8">
							<!-- <p class="mb-0 fs-14 lh-26 text-center text-md-start">Don't have account ? <a href="{% url 'homepage' %}">Register here</a></p> -->
							<input type="file" class="form-control-file" name="img">
						</div>
						<div class="col-xxl-6 col-lg-5 col-md-4 text-center text-md-end sm-mt-20px">
							<input type="hidden" name="redirect" value="">
							<button class="btn btn-dark-gray btn-medium btn-box-shadow btn-round-edge" type="submit">Add pizza</button>
						</div>
						<div class="col-12">
							<div class="form-results mt-20px d-none"></div>
						</div>
					</form>
					
						
				</div> 
			</div>
			<div class="row row-cols-md-1 justify-content-center mb-9 sm-mb-0">
				<div class="col-xl-9 col-lg-10" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
					<table class="table table-bordered">
						<thead>
						<tr>
							<th>Pizza Name</th>
							<th>Price</th>
							<th>Image</th>
							<th>Delete</th>
						</tr>
						</thead>
						<tbody>
						{% for pizza in pizzas %}
						<tr>
							<td>{{ pizza.name }}</td>
							<td>{{ pizza.price }}</td>
							<td>
							{% if pizza.img %}
								<img src="{{ pizza.img.url }}" alt="{{ pizza.name }}" style="width: 100px; height: auto;">
							{% else %}
								No image
							{% endif %}
							</td>
							<td>
							<a href="/deletepizza/{{pizza.id}}/" class="btn btn-danger">Delete</a>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
{% endblock %}





