{% extends "base2.html" %}
{% load static %}
{% block pagecontent %}

<section id="network" class="bg-very-light-gray">
    <div class="container">
        <div class="row justify-content-center mb-5 sm-mb-40px">
            <div class="col-12 align-items-center justify-content-center z-index-1 d-block d-md-flex text-center" data-anime='{ "el": "childs", "translateY": [15,0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <span class="text-base-color fs-28 ls-minus-05px alt-font fw-300 border-end sm-border-end-0 border-color-transparent-dark-very-light pt-10px pb-10px pe-30px me-30px sm-pe-0 sm-me-0 text-uppercase">Enter your credentials</span>
                <h2 class="mb-0 alt-font text-dark-gray text-uppercase fw-700 ls-minus-1px">Login here</h2>
            </div> 
        </div>
        <div class="row row-cols-md-1 justify-content-center mb-9 sm-mb-0">
            <div class="col-xl-9 col-lg-10" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <form action="/customer/authenticate/" method="post" class="row contact-form-style-02">
                    {% csrf_token %}
                    <div class="col-md-12 mb-25px">
                        <label class="form-label fs-14 text-uppercase text-dark-gray fw-600">Enter Username</label>
                        <input class="border-0 box-shadow-large border-radius-4px form-control required" type="text" name="username" placeholder="Username" />
                    </div>
                    
                    <div class="col-md-12 mb-25px">
                        <label class="form-label fs-14 text-uppercase text-dark-gray fw-600">Enter password</label>
                        <input class="border-0 box-shadow-large border-radius-4px form-control" type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="col-xxl-6 col-lg-7 col-md-8">
                        <p class="mb-0 fs-14 lh-26 text-center text-md-start">Don't have account ? <a href="{% url 'homepage' %}">Register here</a></p>
                    </div>
                    <div class="col-xxl-6 col-lg-5 col-md-4 text-center text-md-end sm-mt-20px">
                        <input type="hidden" name="redirect" value="">
                        <button class="btn btn-dark-gray btn-medium btn-box-shadow btn-round-edge" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                        <div class="form-results mt-20px d-none"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}